.jumbotron {
  text-align: center;
  text-shadow: 4px 4px 4px black;
  font-family:monospace;
  background-image:url(/img/pic3761859.png);
  border: 5px solid black;
  margin: auto;
  padding: 20px;
}

h1 {
  color: crimson;
  font-weight: bolder;
}

h2 {
  font-family: monospace;
  font-weight: bold;
}

h3 {
  font-family: monospace;
}

.btn-roll2 {
  display: none;
}

img {
  display:none;
  border: 2px solid black;
}

body {
  background-color:crimson;
}

button:hover {
background-color: crimson;
}

.btn-single {
  display: flex;
  margin: auto;
  justify-content: center;
}

.btn-double {
  display: flex;
  margin: auto;
  justify-content: center;
}

.col-6 {
  display: none;
  float: left;
}